{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "rules": {
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true
      }
    ],
    "indent": ["error", 2],
    "array-bracket-spacing": 0
  }
}
